<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DevSecOps Pipeline</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

  <div class="container py-5 text-center">
    <h1 class="display-4 text-info">🚀 DevSecOps CI/CD Pipeline</h1>
    <p class="lead">Built with Jenkins, Docker, Trivy, SonarQube, and Kubernetes (EKS)</p>
    <hr class="my-4 border-light">
    <p>This web app is deployed automatically from GitHub using a secure CI/CD pipeline.</p>
    <a href="https://github.com/Soumil2002/Devsecops-cicd-pipeline" class="btn btn-outline-info btn-lg mt-3" target="_blank">
      View on GitHub
    </a>
  </div>

  <footer class="text-center text-muted py-3">
    © 2025 DevSecOps Project by Soumil Gupta
  </footer>

</body>
</html>
